body {
  margin: 0;
  padding: 0;
}

.header {
  height: auto;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 5rem;
}

.header-links {
  display: flex;
  list-style-type: none;
}

.header-links > li {
  padding-left: 20px;
}

.signin-button {
  margin-right: 10px;
  padding: 10px;
  background-color: azure;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.logout-button {
  margin-right: 10px;
  padding: 10px;
  background-color: #ff7300;
}

.restaurant-card {
  width: 220px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.restaurant-card > img {
  width: 200px;
  height: 180px;
}
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.search-bar {
  text-align: center;
  padding: 10px;
  /* background-color: #ff7300; */
}

.search-bar > input {
  width: 450px;
  height: 30px;
}
.search-bar > button {
  padding: 8px;
  margin-left: 5px;
  background-color: azure;
}

.shimmer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.shimmercard {
  width: 220px;
  height: 450px;
  padding: 10px;
  margin: 10px;
}

.shimmercard-image {
  width: 220px;
  height: 200px;
  padding: 5px;
  margin: 5px;
  background-color: gainsboro;
}

.shimmercard-text {
  width: 220px;
  height: 50px;
  padding: 5px;
  margin: 5px;
  background-color: gainsboro;
}

.suggestion-box {
  width: 455px;
  position: relative;
  left: 437px;
  top: -20px;
  background-color: azure;
  border-radius: 10px;
}

.suggestion-box > ul {
  list-style: none;
  padding: 10px;
}
